@{
	ViewData["Title"] = "Index";
}

<!-- Search -->
<div class="d-flex flex-row gap-1 mb-3">
	<button type="button" class="btn btn-outline-dark" id="btnPrev">Prev</button>
	<div class="input-group">
		<input type="text" placeholder="Enter Pokemon name" id="txtInput" class="form-control" />
		<button type="button" id="btnSearch" class="btn btn-outline-light">Search</button>
	</div>
	<button type="button" class="btn btn-outline-dark" id="btnNext">Next</button>
</div>

<!-- sprite and name-->
<div class="d-flex flex-row align-items-center gap-3">
	<img src="" alt="Pokemon sprite" id="imgSprite" class="img-fluid d-block bg-light rounded-circle p-5 mb-3" />
	<h3 class="display-3" id="txtName">_name</h3>
</div>

<!-- Details -->
<div class="container-fluid mb-3">
	<div class="accordion" id="statsAccordion">
		<!-- Base Stats -->
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button type="button" class="accordion-button"
						data-bs-toggle="collapse" data-bs-target="#statsList"
						aria-expanded="true" aria-controls="statsList">
					Base Stats
				</button>
			</h2>
			<div class="accordion-collapse collapse show" id="statsList" data-bs-parent="#statsAccordion">
				<div class="accordion-body">
					_body
				</div>
			</div>
		</div>

		<!-- Move List -->
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button type="button" class="accordion-button collapsed"
						data-bs-toggle="collapse" data-bs-target="#statsMoves"
						aria-expanded="false" aria-controls="statsMoves">
					Move List
				</button>
			</h2>
			<div class="accordion-collapse collapse" id="statsMoves" data-bs-parent="#statsAccordion">
				<div class="accordion-body">
					_body
				</div>
			</div>
		</div>
	</div>
</div>